In [2]:
import pandas as pd

In [4]:
train = pd.read_pickle('./avazu/enc_train.pkl')
val = pd.read_pickle('./avazu/enc_val.pkl')
feature_count = pd.read_pickle('./avazu/feature_dic.pkl')
target = ['click']

In [10]:
test = pd.read_pickle('./avazu/enc_test.pkl')

In [11]:
type(train), type(val), type(test)

(pandas.core.frame.DataFrame,
 pandas.core.frame.DataFrame,
 pandas.core.frame.DataFrame)

In [17]:
display(train.head())
display(val.head())
display(test.head())

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,day
19313925,6.597720e+18,0,17,2,1,831,276,6,1088,8,...,0,252,3,2,66,3,5,1,6,25
28723675,1.696028e+19,0,9,2,0,58,52,16,652,112,...,0,1278,3,2,156,3,5,1,6,28
8115694,1.642526e+19,0,15,2,0,1276,1308,18,1088,8,...,0,110,3,2,31,0,3,103,22,22
32751022,1.106698e+19,0,3,2,0,58,52,16,589,49,...,0,1537,3,2,335,3,4,1,6,29
22620735,7.677644e+18,0,14,2,1,958,1385,1,1088,8,...,0,215,3,2,54,0,3,1,22,26

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,day
38313979,7.549592e+18,0,11,2,0,58,52,16,196,78,...,1,1805,2,2,384,3,9,83,6,30
37360419,7.144115e+17,0,6,2,0,58,52,16,752,112,...,0,1854,3,2,393,3,41,103,55,30
38358342,1.078927e+19,0,12,2,0,1499,718,12,1088,8,...,0,293,2,4,89,2,5,1,8,30
37663358,4.811242e+18,0,8,2,1,1238,558,6,1088,8,...,0,1088,1,1,256,3,7,129,16,30
37964181,1.409283e+19,0,10,2,0,58,52,16,589,49,...,0,26,3,2,7,2,5,103,7,30

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21,day
36436742,1.811649e+19,0,2,2,1,1292,414,6,1088,8,...,0,74,3,2,18,3,15,1,6,30
36960907,1.029527e+19,0,5,2,0,58,52,16,1348,86,...,0,1854,3,2,393,3,41,1,55,30
39781496,1.564233e+19,0,18,2,0,58,52,16,652,112,...,0,1616,3,2,345,0,9,1,54,30
38158452,1.241715e+19,0,11,2,0,1276,1308,18,1088,8,...,0,1109,3,2,243,0,28,1,54,30
37880851,7.453575e+18,0,9,2,0,58,52,16,591,78,...,0,258,3,2,71,3,5,1,6,30

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3620824 entries, 19313925 to 18583429
Data columns (total 25 columns):
 #   Column            Dtype
---  ------            -----
 0   id                float64
 1   click             int64
 2   hour              int64
 3   C1                int64
 4   banner_pos        int64
 5   site_id           int64
 6   site_domain       int64
 7   site_category     int64
 8   app_id            int64
 9   app_domain        int64
 10  app_category      int64
 11  device_id         object
 12  device_ip         object
 13  device_model      int64
 14  device_type       int64
 15  device_conn_type  int64
 16  C14               int64
 17  C15               int64
 18  C16               int64
 19  C17               int64
 20  C18               int64
 21  C19               int64
 22  C20               int64
 23  C21               int64
 24  day               int64
dtypes: float64(1), int64(22), object(2)
memory usage: 718.2+ MB

In [27]:
print(train["device_ip"][:2])
print()
train["device_ip"].nunique(), len(train["device_ip"])

19313925    1bdf6ca9
28723675    7de40262
Name: device_ip, dtype: object

(1476650, 3620824)

In [28]:
print(train["device_id"][:2])

19313925    a99f214a
28723675    a99f214a
Name: device_id, dtype: object

In [30]:
feature_count

{'C1': 7,
 'banner_pos': 7,
 'site_id': 1896,
 'site_domain': 1719,
 'site_category': 22,
 'app_id': 1673,
 'app_domain': 115,
 'app_category': 27,
 'device_model': 3931,
 'device_type': 5,
 'device_conn_type': 4,
 'C14': 1981,
 'C15': 8,
 'C16': 9,
 'C17': 415,
 'C18': 4,
 'C19': 66,
 'C20': 159,
 'C21': 60,
 'hour': 24}

In [32]:
train.C1.nunique(), train.device_model.nunique()

(7, 3930)